//
   Created by dsds on 10/10/15.
extends layout

block content
  div.header
    h3
      a(href="/").title= title
    nav
      if user
        a.button(href="/logout") Logout (#{user.username})
  div.container
    div.row
      div.one-half.column
        h1 Login
        if message && message.length
          p.error #{message}
        form(action="/login",method="post")
          div
            label Username
            input(type="text",name="username").u-full-width
          div
            label Password
            input(type="password",name="password").u-full-width
          div
            input(type="submit",value="Log In").button.button-primary
          div
            | ...or
            =" "
            a(href="/register") register