a.title {
  color: inherit;
  text-decoration: none;
}
p, blockquote {
  margin-bottom: 1.3rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
  z-index: 20;
}
.header h3 {
  float: left;
  margin: 0.5rem 1rem;
}
p.error, p.success {
  padding: 4px 8px;
  font-weight: 900;
  border-radius: 2px;
  background: #F3F3F3;
}
p.error {
  color: #FF1414;
}
p.success {
  color: #16DA6D;
}
.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  color: #FFF;
  background-color: #FF291F;
  border-color: #FF291F;
}
.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
  background-color: #E5231C;
  border-color: #E5231C;
}
nav {
  float: right;
  margin: 0.3em 0;
}
nav > a.button {
  margin: 0 1rem;
  padding: 0 15px;
  height: 38px;
  line-height: 38px;
}
/* dashboard */
.dashboard {
  line-height: 40px;
  font-weight: normal;
  overflow: hidden;
  background: #F5F5F5;
}
.dashboard a {
  display: block;
  padding: 0 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}
.dashboard a:hover {
  background: #EFEFEF;
}
.dashboard a.current {
  border-left: 2px solid;
  background: #DDD;
}
/* container */
.container {
  margin: 10rem auto;
}
.container.admin {
  margin: 28rem auto;
}
.center.column {
  display: table;
  margin: 0 auto;
  float: none;
}
/* pagination */
ul.pagination {
  text-align: center;
  list-style: none;
}
ul.pagination > li {
  display: inline-block;
}
ul.pagination > li > a {
  padding: 5px 10px;
  color: #000;
}
ul.pagination > li > a:hover {
  background: #F5F5F5;
}
ul.pagination > li > a.current {
  border-bottom: 2px solid;
  background: #EEE;
}
.float-right {
  float: right;
  margin-top: 1rem;
  margin-left: 1rem;
  z-index: 1;
}
/* editor */
.editable {
  outline: none;
  border: 1px dashed #DDD;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.medium-editor-placeholder:after {
  padding: 10px;
  color: #CCC;
  font-style: normal;
}
#quiz-title {
  float: left;
  min-width: 300px;
  word-break: break-all;
}
#quiz-title > p {
  display: inline;
}
#quiz-content {
  min-height: 500px;
}
#hide-form {
  display: none;
}
/* flow */
svg {
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
path.link {
  fill: none;
  stroke: #33C3F0;
  stroke-width: 4px;
  cursor: default;
}
svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}
path.link.selected {
  stroke: yellow;
  stroke-dasharray: 10, 2;
}
path.link.dragline {
  pointer-events: none;
}
path.link.hidden {
  stroke-width: 0;
}
circle.node {
  cursor: pointer;
  stroke-width: 6px;
}
text {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
}
text.id {
  text-anchor: middle;
  font-weight: normal;
}
input.key {
  margin-bottom: 0;
}
@media (min-width: 550px) {
  nav {
    margin: 0.9rem 0;
  }
  nav > a.button {
    padding: 0 30px;
    height: 38px;
    line-height: 38px;
  }
  .dashboard a {
    display: inline-block;
  }
  .dashboard a.current {
    border-left: none;
    border-bottom: 2px solid;
    line-height: 38px;
  }
  .container.admin {
    margin: 14rem auto;
  }
}
